﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BusinessObjects.Product

<h2>Product Details</h2>

<div>
    <h4>Product Id: @Model.ProductId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Product Name</dt>
        <dd class="col-sm-10">@Model.ProductName</dd>
        <dt class="col-sm-2">Weight</dt>
        <dd class="col-sm-10">@Model.Weight</dd>
        <dt class="col-sm-2">Category Id</dt>
        <dd class="col-sm-10">@Model.CategoryId</dd>
        <dt class="col-sm-2">Units In Stock</dt>
        <dd class="col-sm-10">@Model.UnitsInStock</dd>
        <dt class="col-sm-2">Unit Price</dt>
        <dd class="col-sm-10">@Model.UnitPrice</dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
