﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    /* CSS để thay đổi màu của các nút */
    .btn-manage {
        background-color: #FF5733; /* Màu của nút Order, Product, và Manage Account */
        color: white;
    }

    .btn-product {
        background-color: #33FF57; /* Màu của nút Product */
        color: white;
    }

    .btn-order {
        background-color: #FFFF33; /* Màu của nút Product */
        color: white;
    }

    /* CSS để tạo khoảng cách giữa các nút */
    .btn-container {
        margin-bottom: 10px; /* Khoảng cách 10px giữa các nút */
    }
</style>

<!-- Nút Manage Account trong một div -->
<div class="btn-container">
    <a class="btn btn-manage " href="https://localhost:7042/Member/Index">Manage Account</a>
</div>

<!-- Nút Order trong một div -->
<div class="btn-container">
    <a class="btn btn-order" href="https://localhost:7042/Order/Index">Order</a>
</div>

<!-- Nút Product trong một div -->
<div class="btn-container">
    <a class="btn btn-product" href="https://localhost:7042/Product/Index">Product</a>
</div>
