﻿
@{
}
@model List<DataTransfer.MemberRequest>

@{
    ViewData["Title"] = "ListMembers";
}

<div class="container">
    <h1>List Members</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Company Name</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <td>@member.Email</td>
                        <td>@member.CompanyName</td>
                        <td>@member.City</td>
                        <td>@member.Country</td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@member.MemberId">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@member.MemberId">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <p>No members found.</p>
    }
</div>
<style>
    .btn-back {
        background-color: #111111; 
        color: white;}

    .btn-product {
        background-color: #33FF57; /* Màu của nút Product */
        color: white;
    }

    .btn-order {
        background-color: #FFFF33; /* Màu của nút Product */
        color: white;
    }
</style>
<a class="btn btn-order" href="https://localhost:7042/Order/Index">Order</a>
<a class="btn btn-product" href="https://localhost:7042/Product/Index">Product</a>