﻿@model DataTransfer.OrderRequest

<h2>Delete Order</h2>

<div>
    <h4>Are you sure you want to delete this order?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Order ID:
        </dt>
        <dd class="col-sm-9">
            @Model.OrderID
        </dd>

        <dt class="col-sm-3">
            Order Date:
        </dt>
        <dd class="col-sm-9">
            @Model.OrderDate
        </dd>

        <dt class="col-sm-3">
            Required Date:
        </dt>
        <dd class="col-sm-9">
            @Model.RequiredDate
        </dd>

        <dt class="col-sm-3">
            Shipped Date:
        </dt>
        <dd class="col-sm-9">
            @Model.ShippedDate
        </dd>

        <dt class="col-sm-3">
            Freight:
        </dt>
        <dd class="col-sm-9">
            @Model.Freight
        </dd>

        <dt class="col-sm-3">Member ID: </dt>
        <dd class="col-sm-9"> @Model.MemberId </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderID" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
    </form>
</div>
