﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BusinessObjects.Order>

<h2>Order List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
            <th>Freight</th>
            <th>Member Id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.OrderDate</td>
                <td>@order.RequiredDate</td>
                <td>@order.ShippedDate</td>
                <td>@order.Freight</td>
                <td>@order.MemberId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.OrderID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@order.OrderID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@order.OrderID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .btn-back {
        background-color: #111111;
        color: white;
    }
</style>
<a class="btn btn-warning btn-back" href="https://localhost:7042/Member/Index">Back</a>